<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rangama - An Anagram Word Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://bootswatch.com/slate/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
    
    {{{body}}}

    <footer>
        <div class="credits text-center">
            Designed by Corey H &middot; Developed by Corey H, Armin G, Juan P
        </div>
    </footer>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/bower_components/animatesprite/scripts/jquery.animateSprite.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/title.js"></script>
</body>


</HTML>