<div class="container">
    <div class="row">
        <h1>HOW TO PLAY</h1>
        <p>The game starts off by giving you a randomly generated string of consonants and vowels.  The whole word will not necessarily be used, but the string will be long enough that multiple words can  be found.</p>
        <p>Placeholders will be displayed to show what words and word length are possible and have yet to be discovered.  Additionally, word scoring will be graded by the quality of the individual letters used and length of word.</p>
        <!--<p>Letters can be individually swapped out at the expense of points or time but will generate new words because of it.  This can be done via hotkeys, such as CTRL + [Letter].  If multiple of the same letter instance is found, it will swap out the first one.</p>
        <p>
            Example:


    Word: SJDFALWOJSLIE


    CTRL + J will generate

    Word: SPDFALWOJSLIE

    The next letter will not be the same as the previous but could be any other letter in the alphabet.
    
        </p>-->
        <p>
            You will also have the option to swap out the entire letter set at the expense of larger point reduction.  This will be hotkeyed by pressing the ‘~’ key.
        </p>
    


    

    </div>
</div>