<div class="title-wrapper">
    <ul class="title">
        <li><button class="btn btn-danger">R<span>1</span></button></li>
        <li><button class="btn btn-warning">A<span>1</span></button></li>
        <li><button class="btn btn-info">N<span>1</span></button></li>
        <li><button class="btn btn-success">G<span>2</span></button></li>
        <li><button class="btn btn-danger">A<span>1</span></button></li>
        <li><button class="btn btn-warning">M<span>3</span></button></li>
        <li><button class="btn btn-info">A<span>1</span></button></li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <h1 class="text-center">Choose your Mode</h1>
        <div class="main-menu col-xs-8">
            <div id="standard" class="game-mode col-xs-12 col-sm-6">
                <div id="scott" class="sprite"></div>
                <a href="/rangama/standard" class="btn btn-warning btn-block">STANDARD</a>
            </div>
            <div id="time-attack" class="game-mode col-xs-12 col-sm-6">
                <div class="not-yet">Not Yet Implemented</div>
                <div id="ramona" class="sprite"></div>
                <a href="#" disabled class="btn btn-primary btn-block">TIME ATTACK</a>
            </div> 
            
        </div>
    </div>
</div>