<div class="container">
    <div class="row">
        <div class="standard-mode">
            <div class="anagram-card col-xs-12">
                <div class="row">
                    <div id="anagram-score" class="col-xs-12 col-sm-6">0</div>
                    <div id="anagram-timer" class="col-xs-12 col-sm-6">0:00</div>
                </div>
            </div>

            <div id="anagram-game" class="col-xs-12"></div>
        </div>
    </div>
</div>