<div class="container">
  <div class="row">
    <h1>Top Scores </h1>
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        {{#if this.playerName}}
        <tr>
          <td>{{inc @index}}</td>
          <td>{{this.playerName}}</td>
          <td>{{this.topScore}}</td>
        </tr>
        {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>